<config>
    <maintenance-domain xmlns="http://metroethernetforum.org/ns/yang/mef-cfm">
      <id>md7</id>
      <name-type>character-string</name-type>
      <name>md7</name>
      <md-level>7</md-level>
      <mhf-creation>none</mhf-creation>
      <id-permission>chassis</id-permission>
    </maintenance-domain>
    <maintenance-domain xmlns="http://metroethernetforum.org/ns/yang/mef-cfm">
      <id>md6</id>
      <name-type>character-string</name-type>
      <name>md6</name>
      <md-level>6</md-level>
      <mhf-creation>none</mhf-creation>
      <id-permission>chassis</id-permission>
    </maintenance-domain>
    <maintenance-domain xmlns="http://metroethernetforum.org/ns/yang/mef-cfm">
      <id>md5</id>
      <name-type>character-string</name-type>
      <name>md5</name>
      <md-level>5</md-level>
      <mhf-creation>none</mhf-creation>
      <id-permission>chassis</id-permission>
    </maintenance-domain>
    <maintenance-domain xmlns="http://metroethernetforum.org/ns/yang/mef-cfm">
      <id>md4</id>
      <name-type>character-string</name-type>
      <name>md4</name>
      <md-level>4</md-level>
      <mhf-creation>none</mhf-creation>
      <id-permission>chassis</id-permission>
    </maintenance-domain>
    <maintenance-domain xmlns="http://metroethernetforum.org/ns/yang/mef-cfm">
      <id>md3</id>
      <name-type>character-string</name-type>
      <name>md3</name>
      <md-level>3</md-level>
      <mhf-creation>none</mhf-creation>
      <id-permission>chassis</id-permission>
    </maintenance-domain>
    <maintenance-domain xmlns="http://metroethernetforum.org/ns/yang/mef-cfm">
      <id>md2</id>
      <name-type>character-string</name-type>
      <name>md2</name>
      <md-level>2</md-level>
      <mhf-creation>none</mhf-creation>
      <id-permission>chassis</id-permission>
    </maintenance-domain>
    <maintenance-domain xmlns="http://metroethernetforum.org/ns/yang/mef-cfm">
      <id>md1</id>
      <name-type>character-string</name-type>
      <name>md1</name>
      <md-level>1</md-level>
      <mhf-creation>none</mhf-creation>
      <id-permission>chassis</id-permission>
    </maintenance-domain>
    <maintenance-domain xmlns="http://metroethernetforum.org/ns/yang/mef-cfm">
      <id>md0</id>
      <name-type>character-string</name-type>
      <name>md0</name>
      <md-level>0</md-level>
      <mhf-creation>none</mhf-creation>
      <id-permission>chassis</id-permission>
    </maintenance-domain>                            
</config>