<config>
    <system xmlns="http://openconfig.net/yang/system">
      <config>
        <motd-banner xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0" nc:operation="remove"/>  
      </config>
   </system>
</config>