{% if config.isis is defined %}
<config>
  <isis xmlns="http://ciena.com/ns/yang/ciena-isis">
    <instance>
      <tag>{{ config.isis.tag }}</tag>
{% if config.sr is defined %} 
      <mpls-te>
        <router-id>{{ config.lb0 }}</router-id>
        <level-type>{{ config.isis.level }}</level-type>
      </mpls-te>
{% endif %}      
    </instance>
  </isis>   
  <mpls xmlns="http://ciena.com/ns/yang/ciena-mpls">
    <interfaces>
      <interface>
        <name>lb0</name>
        <label-switching>true</label-switching>
      </interface>      
{% for fp in config.fps %}
{% if fp.mpls %}
      <interface>
        <name>{{fp.name}}_v{{fp.vlan}}</name>
        <label-switching>true</label-switching>
      </interface>
{% endif %}
{% endfor %}       
    </interfaces>
  </mpls>  
</config>
{% endif %}