{% if config.isis is defined %}
<config>
  <isis xmlns="http://ciena.com/ns/yang/ciena-isis">
    <instance>
      <tag>{{ config.isis.tag }}</tag>
{% if config.sr is defined %} 
      <segment-routing>
        <enabled>true</enabled>
      </segment-routing>
{% endif %}      
    </instance>
  </isis>   
</config>
{% endif %}