{% for server in servers %}
system xftp putfile local-filename config/{{inventory_hostname}}_{{file_suffix}}.cfg {{ server.xftp }}-server {{ server.ip }} remote-filename /{{server.root_dir}}/{{inventory_hostname}}_{{file_suffix}}.cfg login-id {{ server.user }} password {{server.password}}
{% endfor%}