<config>
  <classifiers xmlns:classifier="urn:ciena:params:xml:ns:yang:ciena-pn::ciena-mef-classifier">
    <classifier>
      <name>v_{{ item.vlan }}</name>
      <filter-entry>
        <filter-parameter>classifier:vtag-stack</filter-parameter>
{% if item.vlan != "unt"%}        
        <vtags>
          <tag>1</tag>
          <vlan-id>{{ item.vlan }}</vlan-id>
        </vtags>
{% elif item.vlan == "unt" %}
        <untagged-exclude-priority-tagged>true</untagged-exclude-priority-tagged>
{% endif %} 
      </filter-entry>
    </classifier>
  </classifiers>
  <fds xmlns="urn:ciena:params:xml:ns:yang:ciena-pn:ciena-mef-fd">
    <fd>
      <name>{{ item.name }}_{{ item.vlan}}</name>
      <mode>vpls</mode>
{% if item.vlan != "unt"%}     
      <initiate-l2-transform>
        <vlan-stack>
          <tag>1</tag>
          <push-vid>{{ item.vlan }}</push-vid>
        </vlan-stack>
      </initiate-l2-transform>      
{% endif %}        
    </fd>
  </fds>    
  <fps xmlns="urn:ciena:params:xml:ns:yang:ciena-pn:ciena-mef-fp">  
{%   for port in item.ports %}
      <fp>
        <name>{{ item.name  }}_{{item.vlan}}</name>
        <fd-name>{{  item.name  }}_{{item.vlan}}</fd-name>
        <logical-port>{{  port  }}</logical-port>
        <classifier-list>v_{{ item.vlan }}</classifier-list>
        <stats-collection>on</stats-collection>
      </fp>
{%   endfor %}  
  </fps>
  <interfaces xmlns="http://openconfig.net/yang/interfaces">
   <interface>
     <name>{{item.name}}_{{item.vlan}}</name>
    <config>
      <name>{{item.name}}_{{item.vlan}}</name>
{% if item.ip_mtu is defined %}             
      <mtu>{{item.ip_mtu}}</mtu>
{% endif %}
{%if item.if_type is defined %}      
      <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">{{ item.if_type }}</type>
{%endif  %}            
      <underlay-binding xmlns="http://ciena.com/ns/yang/ciena-underlay-binding">
        <config>
         <fd>{{item.name}}_{{item.vlan}}</fd>
       </config>
      </underlay-binding>
      <vrfName xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">{{item.vrf}}</vrfName>
    </config>
   </interface>
 </interfaces>  
 <logical-ports xmlns="urn:ciena:params:xml:ns:yang:ciena-pn::ciena-mef-logical-port">
{%   for port in item.ports %}
{% if item.port_mtu is defined %}       
  <logical-port>
   <name>{{  port  }}</name>
   <mtu>{{item.port_mtu}}</mtu>
   <admin-state>enable</admin-state>
  </logical-port>
{% endif %}         
{%   endfor %}    
 </logical-ports>
</config>