<config>
  <interfaces xmlns="http://openconfig.net/yang/interfaces">
   <interface>
     <name>lb0</name>
    <config>
      <name>lb0</name>
      <admin-status xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">true</admin-status>
      <type xmlns="http://ciena.com/ns/yang/ciena-openconfig-interfaces">loopback</type>
    </config>
   </interface>
 </interfaces>
</config>
