<config>
    <system xmlns="http://openconfig.net/yang/system">
      <config>
        <location xmlns="http://www.ciena.com/ns/yang/ciena-system">{{ location }}</location>  
      </config>
   </system>
</config>